<p><a href="https://www.comfy.org/">ComfyUI</a>, a startup that helps creators control image, video, and audio outputs from diffusion models with a node-based workflow, has raised a $30 million funding round at a $500 million valuation.</p>
<p>The round was led by Craft Ventures, with participation from other investors including Pace Capital, Chemistry, and TruArrow.</p>
<p>ComfyUI was started as an open-source project in 2023, shortly after the introduction of diffusion models. At that time, models like Midjourney and OpenAI's DALL-E were barely functional, frequently making major mistakes, such as adding extra fingers to hands.</p>
<p>To address these limitations, the project founders developed a modular framework that gives creators granular control over every step of the generation process.</p>
<p>Their tool gained such significant traction among creative professionals that it eventually evolved into a formal startup. In late 2024, ComfyUI raised $19 million in Series A financing from investors including Chemistry Ventures, Cursor Capital, and Guillermo Rauch, founder of Vercel.</p>
<p>Although the latest diffusion models have come a long way from adding a sixth digit to hands, the need for the granular precision that ComfyUI offers has only grown.</p>
<blockquote>
 <p>"If you think about your typical prompt-based solution, like Midjourney or ChatGPT, you ask for something, it [gets only] 60% – 80% there," Yoland Yan, ComfyUI's co-founder and CEO, told TechCrunch. "But to change that remaining 20%, you have to try this slot machine."</p>
</blockquote>
<p>Yan compared the process to playing in a casino because prompting the model to make a small change can result in a completely different output, including overwriting the parts that were already perfect.</p>
<p>ComfyUI's node-based interface allows creators to link specific components of the generation process, giving them full control over the quality of their final output.</p>
<blockquote>
 <p>"You cannot easily convey that message in the prompt box [of a foundational model]," Yan said.</p>
</blockquote>
<p>Creators seem to agree, as ComfyUI claims to have over 4 million users.</p>
<p>The tool is being used by creative professionals for visual effects, animation, advertising, and even industrial design.</p>
<p>The startup says its offering has become such a necessary tool of the trade for technical artists and other creatives that it is not uncommon to see "<a href="https://www.simplyhired.com/job/USloW36NkguicJeLFe_l3d6Wi9Gol-fYBNGvQrXJNtFaTgBDnc7IDg?utm_campaign=google_jobs_apply&amp;utm_source=google_jobs_apply&amp;utm_medium=organic">ComfyUI artist or engineer</a>" listed as a job title on studio job boards.</p>
<p>Although video and image foundational models continue to improve, Yan claims that they are far from perfect, and a tool like ComfyUI will continue to be in high demand.</p>
<blockquote>
 <p>"In the world where AI slop is going to be everywhere, the Comfy version of human-in-the-loop approach is going to win out most of the eyeballs in the end," he said.</p>
</blockquote>
<p>ComfyUI's competitors include <a href="https://techcrunch.com/2025/10/30/figma-acquires-ai-powered-media-generation-company-weavy/">Weavy</a>, a startup that was acquired by Figma last year.</p>