---
layout: main
---

{@io.quarkiverse.roq.frontmatter.runtime.model.DocumentPage page}

<script>
window.DEFAULT_TAG_PRIORITIES={cdi:feeds.get('tag-priorities').raw};
window.UNSORTED_PRIORITY={cdi:feeds.get('unsorted-priority').raw};
</script>

<article class="article-page" data-post-date="{page.date.format('yyyy-MM-dd')}">
  <section class="page-content">
    <section class="wrap-content">
      {#include partials/roq-default/page-header.html /}

      {#readButtons postDate=page.date.format('yyyy-MM-dd') /}

      {#let sections=page.data.sections}
      {#include partials/digest-articles.html /}
      {/let}

      <div class="digest-devour-toast" data-post-date="{page.date.format('yyyy-MM-dd')}">
        Digest devoured!
        <button class="digest-btn-mark-read digest-btn-devour-again">Devour again</button>
      </div>

      <div class="page-footer">
        {#if page.data.author??}
        {#let author=cdi:authors.get(page.data.author)}
        {#if author}
        <div class="author">
          <img src="{site.image(author.avatar)}" alt="author-{page.data.author}"/>
          <div class="author-data">
            <a target="_blank" rel="noopener noreferrer" href="{author.profile}"
               class="author-name">{author.name}</a>
            <span class="author-job-title">{author.job}</span>
          </div>
        </div>
        {/if}
        {/let}
        {/if}
      </div>
    </section>
  </section>
</article>
