<p>This talk is the first public demo of Ace – a new research prototype we've been building within the <a href="https://githubnext.com">GitHub Next</a> team. Ace is a realtime, multiplayer coding agent workspace. It's like Slack, GitHub, and Claude/Copilot had a baby. You work with agents, but also all your coworkers in the same space, sharing chats, context, and all using the same computers in the cloud to do the work.</p>
<p>At this point, in early 2026, all coding agents are designed as single player experiences. But building software isn't a single player game. I talk through why we need collaborative AI engineering tools and show how we're exploring the problem.</p>
<h2>One Developer, Two Dozen Agents, Zero Alignment: Why we need collaborative AI engineering</h2>
<p>First, a quick intro. I'm Maggie and I'm a staff research engineer at GitHub Next. At least that's my title, but I'm actually a designer. Or I was, back when that was still a separate thing to engineering.</p>
<p>Next is the labs team within GitHub. We work on more experimental, risky bets than the rest of org. Also known as the department of fuck around and find out.</p>
<p>Like everyone else, we're trying to shape new agentic developer tools</p>
<p>This is what many people think peak developer productivity looks like right now - a wall of terminal-based coding agents running in parallel on one person's machine.</p>
<p>Demo video: <a href="https://x.com/yiliush/status/2035788658574291355?s=20">Collaborator</a> by <a href="https://yiliu.sh/">Yiliu</a></p>
<p>I call it this "one man, a two dozen claudes" theory of the future. The pitch here is that one person with a fleet of agents will do the work of an entire team of developers.</p>
<p>The main problem with this dream is it assumes software is made by one person.</p>
<p>All these tools are single player interfaces.</p>
<p>And they focus on scaling up the work of the individual.</p>
<p>But there is limited value in scaling up an individual.</p>
<p>Because software is not made by one person in a vacuum. It's a team sport. Everyone building it needs to agree on what they're building and why</p>
<p>Believing individual productivity leads to great software…</p>
<p>…is "nine women make a baby in one month" logic.</p>
<p>More individual output doesn't solve problems that require everyone to communicate and coordinate. It makes them worse.</p>
<p>Implementation is rapidly becoming a solved problem, right? Writing code is now fast, it's getting cheap, and quality is going up and to the right.</p>
<p>The hard question is no longer how to build it. It's should we build it.</p>
<p>Agreeing on what to build is the new bottleneck.</p>
<p>Everyone on the team needs to be involved in asking: Are we making the right thing? Are we spending our energy in the right place? How do we have the most impact?</p>
<p>When production is cheap, opportunity cost becomes the real cost. You can't build everything, and whatever you pick comes at the cost of everything else.</p>
<p>Anyone who's shipped software on a team knows this isn't a new problem. Alignment has always been a bottleneck.</p>
<p>But agents have made the cost of not being aligned as a team much higher.</p>
<p>What makes it worse..</p>
<p>…is our coordination tools are still from another era.</p>
<p>GitHub, Slack, Jira, Linear, and the like, as they currently stand, are not designed for the agentic development world.</p>
<p>We're funnelling masses of agentic outputs into platforms built for an outdated way of building software. The PR and the issue are the wrong primitives that can't handle the speed, shape, and volume of agentic work.</p>
<p>I know I work at GitHub so that might sound heretical, but I promise it's not controversial for me to say it. Very few people internally believe that PRs and issues are ideal primitives for the future of engineering. And there are a lots of us inside the machine exploring what comes next.</p>
<p>So this is how the development process used to look. We had a planning phase, a building phase, a review phase.</p>
<p>And we had all these touch points of alignment along the way.</p>
<p>It was slow enough that we had time for conversations in Slack, Zoom meetings, comments on issues, and draft PRs to discuss details. Everyone could give their two cents, get advice from experts and seniors across the team, catch mistakes, and course-correct.</p>
<p>By the time the code was reviewed and merged, the whole team had seen the work happening and was roughly on the same page.</p>
<p>But that implementation window has collapsed.</p>
<p>And because implementation is no longer as expensive and time-consuming…</p>
<p>…we think we don't need to plan as much.</p>
<p>So most of those early touch points disappear.</p>
<p>We know that the review time for generated code has increased.</p>
<p>So that creates more touch points for alignment, they're on the wrong side of the implementation.</p>
<p>The time between logging an issue and an agent opening a PR for it is now only a few minutes. Code is so cheap we don't properly stop to think before prompting it.</p>
<p>Unhelpfully, most current coding agents have a local plan mode that is unshared with others.</p>
<p>So you're not even checking with your team on whether the plan is good before you ship it off to the agent. And we lose more alignment points.</p>
<p>This leaves the poor pull request to carry the weight of all those checkpoints at the very end of the process when it's too late. And never what PRs were designed to do in the first place.</p>
<p>None of our current tools give teams a shared space to discuss plans, gather the right context, and work with agents as a collective.</p>
<p>We're all experiencing the repercussions of this. Going fast without good alignment leads to:</p>
<h3>Wasted work</h3>
<ul>
 <li>Features that no one asked for, and that don't solve real problems</li>
 <li>Receiving critical feedback after you've finished building something, so you have to toss the whole thing out</li>
</ul>
<h3>Coordination debt</h3>
<ul>
 <li>Hairy merge conflicts - multiple agents touching the same files</li>
 <li>Duplicated work - you and another engineer assign agent to the same feature</li>
 <li>Giant stacks of PRs to review that no one has any context for</li>
</ul>
<p>So how do we solve this?</p>
<p>We need tools that help everyone on the team align before the agents start working, not after.</p>
<p>That alignment needs to happen constantly, alongside the implementation.</p>
<p>Planning and building are no longer separate phases. They're a continuous cycle. The tools of the future need to bring planning, context-gathering, decision-making, and development under one roof.</p>
<p>This is especially true because most of the context you need for alignment isn't in the codebase.</p>
<p>It's in people's heads.</p>
<ul>
 <li>Your business context and financial resources determine what the correct thing to build is.</li>
 <li>The political dynamics of who's in charge and who gets to make decisions.</li>
 <li>The product vision from your leaders and PMs</li>
 <li>User research insights from designers and customer support</li>
 <li>The organisation's history and what you've built before.</li>
</ul>
<p>…all matter immensely when you're deciding what the right thing for your team to build is</p>
<p>Agents can never discover this context on their own. You need a way to get humans to share it early and naturally, without adding process and overhead</p>
<p>All of this has been very clear to us at Next, and so we've been building a new research prototype to explore how we might solve these problems. It's called Ace. It's not a prime time product yet. So if it looks a pretty rough around the edges, it's because it is.</p>
<p>We're about to go into technical preview. We'll be user testing it with a few thousand people to learn more about how people collaborate in it, and iterate from there.</p>
<h2>Introducing Ace</h2>
<p>Here we are in Ace. It probably looks pretty familiar. We're not reinventing any more wheels than we need to.</p>
<p>It's a bit like Slack, GitHub, Copilot, and a bunch of cloud computers had a baby.</p>
<p>We have our sessions list here on the left. Sessions are where we do work. It's a multiplayer chat. Like channels in Slack.</p>
<p>I have my teammates in here and we can talk about the work we're doing, but I also have my coding agents in here.</p>
<p>Each session is more than a chat channel. It is also backed by a microVM, so a sandboxed computer in the cloud on its own git branch.</p>
<p>The changes we make in each session are isolated, so we can work on parallel tasks and instantly switch between them.</p>
<p>If I want to tap one of my teammates on the shoulder and get their thoughts on a feature I'm building, no one has to stash their git changes and pull down a branch, or wrangle any local worktrees.</p>
<p>I just jump into their session, and see what they're up to. Including their whole prompting history with an agent to understand how they arrived at the current state of things.</p>
<p>Just like a local machine, I can run terminal commands in a session. I've run bun install and bun dev to get my current project running.</p>
<p>Here we can see my live preview open on the side in the browser. My demo project here is a calm version of Hacker News that only shows me the top stories from the last three months.</p>
<p>I'm going to ask the agent to change the colour theme to purple. And we can see it appears instantly in my preview.</p>
<p>The agent has automatically made a commit for me with a nice readable commit message. And I can open the diff to make sure it's implemented the way I want. Everything you'd expect from a coding agent.</p>
<p>So we're ready to do some real work, I have my team mates in this session with me. And I'm going to ask Ace to add some additional colour themes to my app. I pick which model I want to use. Opus 4.6. Ace is gonna get started.</p>
<p>We have this handy summary block in the top right that is always up to date with the latest changes in this session, whether they're from me or somebody else. This means I can switch between sessions and stay always oriented about what's happening, even with many parallel streams of work.</p>
<p>But the more important thing is I want to talk to my team mates. I can ask them what they think of the current changes.</p>
<p>They can spin up the dev server themselves.</p>
<p>Remember, we're all working on the same computer in the cloud so this is no problem. We can all see the same preview, we can all write terminal commands and see shared outputs. No one is going to say it doesn't work on my machine.</p>
<p>My team mates Nate and Idan are jumping in here They've taken screenshots, they've suggesting some alternative features, and asking questions.</p>
<p>And we can see Nate is now asking the Ace agent to make changes. I initially kicked off this session, but we can both prompt the agent. It's multiplayer prompting. The agent can also read our whole conversation - that's all input to the prompt.</p>
<p>This kind of accessible Slack-like interface with access to a coding agent means that everyone involved in creating software - not just developers, but designers and PMs - can all be in the same conversation, seeing what's happening in real time as a feature gets built.</p>
<p>If you're thinking, why not just use Slack? It's because Slack is never going to become a fully featured software development tool. It doesn't have the right primitives, and it's not going to add them. Ace is explicitly for software development, but is more welcoming to other team members than your terminal.</p>
<p>Anyway, back to shipping our changes. We like how this looks so we're going to create a PR. Because eventually all this code has to go back to GitHub.</p>
<p>We can create this PR from directly inside Ace. We can open it on GitHub. It has a link back to our Ace session. This is all backwards compatible.</p>
<p>And sometimes you still need to touch code. I find this is still true for front-end design work. Agents are shit at CSS.</p>
<p>We can still open our project in VS Code. We have real time, mulitplayer code editing with everyone in that session.</p>
<p>Because again, this is a microVM cloud computer.</p>
<p>I can close my laptop and work can continue. My session doesn't die. My teammates can keep chatting to Ace and making progress.</p>
<p>We don't have mobile interface yet, but we're building it, and the microVMs will make the mobile experience seamless. I'll be able to open Ace on my phone I don't have to SSH into a terminal instance and keep my laptop open. Or go buy a Mac Mini to keep things available. I just talk to my always-on Ace agent in the cloud.</p>
<p>For bigger, more complex features, you'll want the agent to write a plan. That's a very standard workflow at this point.</p>
<p>So here we're chatting about adding variable time frames to our calm hacker news app and I then ask Ace to make a plan.</p>
<p>And so here we are in the plan. I can see all my teammates cursors. We can collaboratively edit it together.</p>
<p>Nate is making suggestions about using a dropdown for the interface rather than a segmented group. Idan is updating the requirements so the agent knows to do it.</p>
<p>And once we're happy with all the details, we can go back to chat and ask Ace to build this and off it goes.</p>
<p>I'm now jumping over to our dashboard in Ace.</p>
<p>A lot of the planning and discussion that would otherwise happen in Slack or GitHub issues, is now happening in our sessions. We have access to lots of rich context on what work is underway and can helpfully summarise it</p>
<p>So here, it's Monday morning and I'm trying to remember what I left unfinished last Friday. And Ace is prompting me to keep working on some react hooks I was writing as part of a refactor. Which is helpful since I have crappy human memory after a long weekend.</p>
<p>From here I can start a new session, or in the "pick back up" section, in one click I can open a session to keep going on my unmerged refactor PR.</p>
<p>I can also see a list of my recently completed PRs and issues to stroke my ego and make me feel productive.</p>
<p>On the right, we have a Team Pulse section that summarises what my co-workers have been up to over the last couple of days.</p>
<p>I can see Nate has been shipping a lobby channel. And David has been fixing access token issues.</p>
<p>There's also a raw feed of recent PRs and issues on this repo. But I find the summary mode much more helpful.</p>
<p>One of the biggest challenges of agentic development is that the speed and volume of work makes it hard to keep up with what your coworkers are doing. They've now shipped five features a day instead of one.</p>
<p>This dashboard is our first pass at making agents proactive in bringing that context to you.</p>
<p>If all your conversations around the code are available to agents, it gives them access to a social information fabric where they can help you get oriented every morning and stay aligned with your team. They could notify you of decisions or pull you into conversations where someone is about to extend a feature you originally built.</p>
<p>This is no longer a bunch of solo disconnected terminal instances on individual computers. This becomes a living intelligent environment where everyone shares the same workspace and context.</p>
<h2>The Opportunity Ahead</h2>
<p>This is all about reclaiming your time. Before coding agents came along, none of us had enough time and energy to make our products the way we wanted to.</p>
<p>I guarantee everyone in this room has shipped software they're not proud of. Maybe you didn't do enough user research, or consider design problems in enough detail, or think through the implications of your architecture choices.</p>
<p>Not because you didn't want to, but because implementation took up so much of our time and effort.</p>
<p>But we've been gifted a lot of that time back.</p>
<p>We have an opportunity to not just go faster and build a giant pile of the same crappy software. but instead to make much better software through more rigorous critical thinking and better alignment in the planning stage.</p>
<p>By doing more exploration, more research, and thinking through problems more deeply than we could have before. Agents allow us to scale our teams in a way that, if done right, should lead to higher-quality software.</p>
<p>Many people are now realising that in a world of fast, cheap software, quality becomes the new differentiator.</p>
<p>The bar is being set much higher Craftsmanship is what will set you apart from the vibe-coded slop.</p>
<p>But craft still costs time and energy. It is not free, and in order to buy the time and energy for it, you need to do fewer things better, which requires strong alignment.</p>
<p>There are also more distractions than ever. It's very easy to prompt your way to the wrong thing or to add tons of unnecessary, unhelpful features to your product.</p>
<p>The dream for me is that we end up with tools - whether it's Ace or others - that create environments where teams can think rigorously together about hard problems. Our agentic tools should help us do higher quality work, get aligned faster, and build a few exceptional things, rather than a thousand crappy ones.</p>
<p>Thank you very much for listening.</p>