<h1>Create animated websites in record time with Starwind UI</h1>
<p>Animated, customizable, and accessible components for Astro - built purely with Astro and vanilla JS. Inspired by shadcn/ui with seamless CLI installation.</p>
<h2>See Starwind UI in Action</h2>
<h2>Key Features</h2>
<h3>Own The Code</h3>
<p>Easy-to-use CLI to add component code directly to your projects.</p>
<h3>Customizable</h3>
<p>Full control over each component. All styling, functionality, and behavior can be modified.</p>
<h3>Accessible</h3>
<p>Designed with keyboard navigatable and accessible components.</p>
<h3>Open Source</h3>
<p>Completely open source and MIT licensed.</p>
<h2>What will you create?</h2>