<h1>Your procedural toolbox for 2D content creation</h1>
<p>Graphite is a free, open source vector graphics editor and animation engine, available now in alpha. Get creative with a fully nondestructive editing workflow that combines layer-based compositing with node-based generative design.</p><img alt="Painted Dreams - Made using nondestructive boolean operations and procedural polka dot patterns" src="https://static.graphite.art/content/index/gui-demo-creative-coding-poster.avif"> <img alt="Design for a magazine spread, a preview of the upcoming focus on desktop publishing" src="https://static.graphite.art/content/index/gui-demo-magazine-page-layout.avif"> <img alt="Procedurally generated animation demonstrating Graphite's approach to creative coding with nodes" src="https://static.graphite.art/content/index/gui-demo-fractal__4.avif"> <img alt="Mandelbrot fractal filled with a noise pattern, procedurally generated and infinitely scalable" src="https://static.graphite.art/content/index/gui-demo-painted-dreams__4.png">
<h2>What's new?</h2>
<p>The latest major update is out now! See what the team has been cooking up recently:</p>
<h2>Software overview</h2>
<p>Starting life as a vector editor, Graphite is evolving into a general-purpose, all-in-one graphics toolbox that is built more like a game engine than a conventional creative app. The editor's tools wrap its node graph core, exposing user-friendly workflows for vector, raster, animation, and beyond.</p>
<h2>One app to rule them all</h2>
<p>Stop jumping between programs. Upcoming tools will make Graphite a first-class content creation suite for many workflows, including:</p>
<ul>
 <li>Graphic Design</li>
 <li>Motion Graphics</li>
 <li>Image Editing</li>
 <li>Digital Painting</li>
 <li>Page Layout &amp; Print</li>
 <li>VFX Compositing</li>
</ul>
<h2>Current features</h2>
<ul>
 <li>Vector editing tools</li>
 <li>Procedural workflow for graphic design</li>
 <li>Node-based layers</li>
 <li>Forever free and open source</li>
</ul>
<p>Presently, Graphite is a lightweight offline web app with features primarily oriented around procedural vector graphics editing.</p>
<h2>Upcoming features</h2>
<ul>
 <li>All-in-one creative tool for all things 2D</li>
 <li>Fully-featured raster manipulation</li>
 <li>Windows/Mac/Linux native apps + web</li>
 <li>Live collaborative editing</li>
</ul>
<h2>Desktop-first and web-ready</h2>
<p>Where's the download? The web app is currently live and desktop apps for Windows, Mac, and Linux are now in a release candidate stage. Check the announcements channel of the Discord for download links if you would like to partake in testing prior to the impending launch.</p>
<p>Graphite is designed principally as a professional desktop application that is also accessible in a browser for quick access from anywhere. It's built for speed with (nearly) no JavaScript. And regardless of platform, it runs locally and privately on your own hardware—there is no server.</p>
<p>Engineering the tech for a native app distributed across three new platforms takes extra time. That's why supporting the web platform, which keeps up-to-date and reaches all devices, has been the initial target. For now, you can install the app as a PWA for a desktop-like experience.</p>
<p>Graphite's code architecture is structured to deliver true native performance for your graphically intensive workloads on desktop platforms and very low overhead on the web thanks to WebAssembly and WebGPU, new high-performance browser technologies.</p>
<h2>The power of proceduralism</h2>
<p>Graphite is the first and only comprehensive graphic design suite built for procedural editing—where everything you make is nondestructive.</p>
<h2>Explore parametric possibilities</h2>
<p>Save hours on tedious alterations and make better creative choices. Graphite lets you iterate rapidly by adjusting node parameters instead of individual elements.</p>
<p>Scatter circles with just a couple nodes. Want them denser? Bigger? Those are sliders. Want a different placement area? Just tweak the path.</p>
<h2>Mix and morph anything</h2>
<p>Nondestructive editing means every decision is tied to a parameter you can adjust later on. Use Graphite to interpolate between any states just by dragging value sliders.</p>
<p>Blend across color schemes. Morph shapes before they're scattered around the canvas. The options are endless.</p>
<h2>Geared for generative pipelines</h2>
<p>Graphite's representation of artwork as a node graph lets you customize, compose, automate, reuse, and share your content workflows.</p>
<ul>
 <li>Infinitely pan and zoom without pixelation, export any resolution</li>
 <li>Compile standalone programs from node systems <em>(future)</em></li>
 <li>Deploy asset pipelines in studio production environments <em>(future)</em></li>
</ul>