<figure>
 <img src="https://cdn.mos.cms.futurecdn.net/mYFWvawAqL7XrgA7gFi6DY.jpg" alt="Colgate toothpaste ad">
 <figcaption>
  (Image credit: Colgate)
 </figcaption>
</figure>
<p>Whether we like it or not, AI is infiltrating almost every aspect of our lives, including advertising. The growing number of questionable <a href="https://www.creativebloq.com/design/branding/5-failed-ai-ads-that-prove-human-creativity-is-still-superior">AI ads</a> proves that brands are getting increasingly emboldened to create artificially augmented adverts, yet the quality of these creations doesn't seem to improve.</p>
<p>The latest offender in this growing trend is oral care brand Colgate, which recently posted a promo for its new tropical toothpaste. While unassuming at first, the strange details of the ad were soon picked apart by eagle-eyed viewers who thought the janky visuals had AI written all over them (and by that, I mean complete nonsense).</p>
<figure>
 <blockquote>
  <p><a href="https://www.instagram.com/p/DXW051CGboy/">A post shared by Colgate (@colgateus)</a></p>
 </blockquote>
</figure>
<p>Taking to <a href="https://www.creativebloq.com/tag/instagram">Instagram</a>, Colgate shared a social post promoting its new coconut and watermelon flavoured toothpastes. The visuals are pretty standard, with floating fruit against a blue sky background, letting the product shine – it's safe, succinct and conventional. All seems fine until you look at the finer details.</p>
<p>On further inspection, the toothpaste packaging features warped text often associated with AI-generated images. While in some parts the typography is only slightly garbled, other sections feature completely illegible characters that are impossible to ignore once you notice them. And notice people did.</p>
<p>The comments were soon filled with people calling out the ad, with one user writing, "What in the hot AI garbage is this?" Another added, "One would think you would at least bother to fix the AI slop labels, yet here we are...," while one begged, "Please hire new graphic designers."</p>
<p>For more advertising news, check out <a href="https://www.creativebloq.com/creative-inspiration/advertising/skechers-just-cant-quit-making-crappy-ai-ads">Skecher's abysmal AI ads</a> or take a look at this <a href="https://www.creativebloq.com/design/print-design-publishing/a-serious-misstep-how-on-earth-did-this-ai-billboard-ad-get-approved">controversial AI billboard</a> that ruffled people's feathers for its pro-AI messaging.</p>