<h1>Coding is a Meta-Task</h1>
<p><img alt="Coding is a Meta-Task"></p>
<p>I think a lot of people are confused about modern AI models being mostly "coding models", and thinking that because of this they're not good for other types of work.</p>
<p>I think that's the wrong way to think about it.</p>
<p>I'd say the primary reason so many AI labs are optimizing for coding is probably because augmenting/replacing coding work is immediately helpful to companies and developers. In other words, <em>it makes money</em>. So, no mystery there.</p>
<h2>The meta-reason</h2>
<p>But I think a bigger reason these models are so good at things is because <em>coding is a meta-skill</em>.</p>
<p>Coding, or <em>code</em> really, is fundamentally a structured type of problem solving. And when a model gets better at coding, it gets better at solving all kinds of problems at the same time.</p>
<p>So when a model gets better at coding, it's getting better at getting better.</p>
<p>So next time you hear some model is doing really well on coding, remember that that maps pretty closely to it getting better at doing everything.</p>